.container {
    width: 550px;
    height: 650px;
    background: linear-gradient(90deg, rgba(238,174,202,0.4) 0%, rgba(148,187,233,0.4) 100%);
    margin-top: 150px;
    padding: 20px;
    border-radius: 20px;
}